.city-card{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2rem;
    min-height: 15rem;
    border: 0px !important;
    cursor: pointer;
}
.small-p{
    font-size: 12px;
}
.suntimes{
    width:100%;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.suntime-block{
    position: relative;
}
.wind-info{
    margin-left:5px;
    margin-right: 5px;
}
.town{
    margin-top:10px;
}
.left-align{
    text-align: left;
    margin-left: 5px;
}
.txt-location{
    font-family: opensans-bold;
}
.txt-temp{
    font-family: opensans-bold;
    font-size: 3.5rem;
}
.txt-celc{
    font-family: opensans-reg;
    font-size: 2.5rem;
}
.card-top{
    background-image: url(../../../assets/img/cloudbg.png);
    color: white;
    background-size: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:0.5rem;
    background-repeat: no-repeat;
    background-position: 0px 3rem;
}
.card-top-marg{
    margin: 2rem;
}
.adv-data{
    margin-right: 8px;
}
.close{
    width:5px;
    float: right;
    margin-right: 13px;
}
.card-bot{
    background-color: #383b47;
    padding:1.4rem;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.line{
    width:1px;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.061);
}
.wind-ico{
    margin-bottom: 0.7rem;
    width: 1.5rem;
}
.info-type{
    font-family: openSans-semi;
}
.no-bot-mar{
    margin-bottom: 0px;
}