.search-box{
    margin-top: 3rem;
    width:100vw;
}
.form-control{
    background-color: #1f2128 !important;
    color: white !important;
    border-color: #1f2128 !important;
}
.btn-search{
    margin-left: -120px;
    background-color: #6c5dd3 !important;
    border: 1px !important;
}

.weather-cards{
    margin-top: 3rem;
}