@font-face {
  font-family: opensans-bold;
  src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: opensans-reg;
  src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: opensans-semi;
  src: url(assets/fonts/OpenSans-SemiBold.ttf);
}

p{
  font-family: opensans-reg;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body{
  overflow-x: hidden;
}
.html{
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

